<div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title"><%= @customer.full_name %></h5>
    <p class="card-text"><strong>Email:</strong> <%= @customer.email %></p>
    <p class="card-text"><strong>Phone:</strong> <%= @customer.phone %></p>

    <div>
      <%= render "shared/buttons/edit_button", object: @customer %>
      <%= render "shared/buttons/delete_button", object: @customer %>
    </div>
  </div>
</div>