<%= form_with(model: customer) do |form| %>

  <%= render "shared/errors/form_message", object: customer %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="d-flex justify-content-start gap-2">
    <%= render "shared/buttons/cancel_button",
     path: customer.new_record? ? customers_path : customer_path 
    %>
    <%= render "shared/buttons/save_button", form: form %>
  </div>

<% end %>
