<%= form_with(model: order) do |form| %>

  <%= render "shared/errors/form_message", object: order %>

  <div class="row">

    <div class="col-md-4 mb-3">
      <%= form.label :customer_id %>
      <%= form.collection_select :customer_id, Customer.all, :id, :full_name, { prompt: "Select a Customer" }, { class: "form-control" } %>
    </div>

    <div class="col-md-5 mb-3">
      <%= form.label :product_name %>
      <%= form.text_field :product_name, class: "form-control" %>
    </div>

    <div class="col-md-3 mb-3">
      <%= form.label :product_count %>
      <%= form.number_field :product_count, class: "form-control" %>
    </div>

  </div>

  <div class="d-flex justify-content-start gap-2">
    <%= render "shared/buttons/cancel_button",
     path: order.new_record? ? orders_path : order_path 
    %>
    <%= render "shared/buttons/save_button", form: form %>
  </div>
<% end %>
