<!-- app/views/shared/buttons/_order_list.html.erb -->
<% if orders.empty? %>
  <p>This Customer has no Orders</p>
<% else %>
    <div class="card">
        <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @customer.orders.each do |order| %>
                <tr>
                    <td><%= order.product_name %></td>
                    <td><%= order.product_count %></td>
                    <td>
                        <%= render "shared/buttons/show_button", object: order %>
                        <%= render "shared/buttons/edit_button", object: order %>
                        <%= render "shared/buttons/delete_button", object: order %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
<% end %>