<div class="container mt-3">
  <h3>Order Details</h3>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= @order.product_name %></h5>
      <p class="card-text"><strong>Product Count:</strong> <%= @order.product_count %></p>
      <p class="card-text"><strong>Customer:</strong> <%= @order.customer.full_name %></p>

      <div>
        <%= render "shared/buttons/edit_button", object: @order %>
        <%= render "shared/buttons/delete_button", object: @order %>
      </div>
    </div>
  </div>

  <%= render "shared/buttons/back_button", object: @order %>
</div>