<!DOCTYPE html>
<html>
  <head>
    <title>R7Additional</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-primary text-white text-center  px-1 py-2 mb-4 banner-background">
      <div class="py-5">
        <h1 class="display-4">Customers and Orders</h1>
        <p class="lead">This is a sample application that associates orders with customers.</p>
      </div>
    </div>
    <div><%= yield %></div>
  </body>

  <% if flash[:alert].present? %>
    <p class="my_alert"><%= flash[:alert] %></p>
  <% end %>
</html>
